/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;

  background-image: url("../img/texture-The-Corner.gif");
/*  
background-color: #eedd00;  
*/

}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);

}




.footer {

  margin-top:10px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(0,0,0,0.0);
}




@media (min-width: 768px) {


}




/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}









.example_slide {
  
  min-height: 200px;
  max-height: 400px; 
  
background-color: rgba(0,0,0,0);

}



.brand{
  max-height: 100px;
}

.intro_lista_ristoranti {
background-color: rgba(0,0,0,0.3);

}

.riga_ristoranti {
  min-height: 50px;
  margin-top:5px;
  margin-bottom:5px;
  background-color: rgba(255,0,0,0.1);  


}

@media (min-width: 468px) {

.riga_ristoranti {
  min-height: 100px;
  margin-top:10px;
  background-color: rgba(255,0,0,0.1);  

}

}


/*
 * Affix and center
 */

@media (min-width: 768px) {

.riga_ristoranti {
  min-height: 200px;
  
  background-color: rgba(255,0,0,0.1);  

}


  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 80%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 70%;
  }
}
