/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  min-height: 100%;  

  background-image: url("../img/texture-The-Corner.gif");
/*  
background-color: #eedd00;  
*/

}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);

}




.footer {

  margin-top:10px;
  bottom: 0;
  
  /* Set the fixed height of the footer here  width: 100%;*/
  height: 60px;
  background-color: rgba(0,0,0,0.0);

}









.example_slide {
  
  min-height: 200px;
  max-height: 500px; 
  
background-color: rgba(0,0,0,0);

}



.brand{
  max-height: 100px;
}

.intro_lista_ristoranti {
background-color: rgba(0,0,0,0.3);

}

.riga_ristoranti {
  min-height: 50px;
  margin-top:5px;
  margin-bottom:5px;
  background-color: rgba(0,200,25,0.2);  


}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
      background-color: rgba(0,200,25,0.2);  
    color: #fff;

}

.titolo_ristorante{
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
}


.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size:1.3em;
    font-family: 'Lobster', cursive;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;

}