          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Corner</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li ui-sref-active="active"><a ui-sref="app.home">Home</a></li>
                  <li ui-sref-active="active"><a ui-sref="app.restaurants">Restaurant</a></li>
                  <li ui-sref-active="active"><a ui-sref="app.contact">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>