<div id="owl-carousel" class="owl-carousel owl-theme" style="padding:40px 10px 0px 10px;background:rgba(0,0,0,0.2);">
    <div class="item example_slide">    
        <img class="img-rounded "  src="img/carousel/1.jpg">
    </div>
    <div class="item example_slide">
        <img class="img-rounded "  src="img/carousel/2.jpg">
    </div>
    <div class="item example_slide">
        <img class="img-rounded "  src="img/carousel/3.jpg">
    </div> 
    <div class="item example_slide">
        <img class="img-rounded "  src="img/carousel/4.jpg">
    </div>
    <div class="item example_slide">
        <img class="img-rounded "  src="img/carousel/5.jpg">
    </div>           
</div>        



     