<div  id="owl-carousel" class="owl-carousel owl-theme" style="margin-top:75px;padding:40px 10px 0px 10px;background:rgba(0,0,0,0.2);">


    <div class="item example_slide">    
        <img class="img-rounded "  src="img/piatti/thecorner2/IMG_3587.JPG">
    </div>

    <div class="item example_slide">    
        <img class="img-rounded "  src="img/piatti/thecorner3/IMG_3588.JPG">
    </div>



    <div class="item example_slide">    
        <img class="img-rounded "  src="img/piatti/fotothecorner1/IMG_3579.JPG">
    </div>    



    <div class="item example_slide">    
        <img class="img-rounded "  src="img/piatti/thecorner2/IMG_3584.JPG">
    </div>
    <div class="item example_slide">    
        <img class="img-rounded "  src="img/piatti/thecorner2/IMG_3586.JPG">
    </div>    
    <div class="item example_slide">    
        <img class="img-rounded "  src="img/piatti/fotothecorner1/IMG_3580.JPG">
    </div>
    <div class="item example_slide">    
        <img class="img-rounded "  src="img/piatti/thecorner3/IMG_3589.JPG">
    </div>    


    <div class="item example_slide">    
        <img class="img-rounded "  src="img/piatti/thecorner4/IMG_3593.JPG">
    </div>

</div>        



     