        

<div class="inner cover">
  <h1 class="cover-heading">Cover your page.</h1>
 <!-- Set up your HTML -->
<div class="owl-carousel">
  <div cass="example_slide"> Your Content </div>
  <div cass="example_slide"> Your Content </div>
    <div cass="example_slide"> Your Content </div>
      <div cass="example_slide"> Your Content </div>
        <div cass="example_slide"> Your Content </div>
          <div cass="example_slide"> Your Content </div>  
     <div cass="example_slide"> Your Content </div>
</div>

</div>



